.album-square{
    width: 128px;
    height: 128px;
    background-color: #DDD;
    background-image: url("http://via.placeholder.com/320x200");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #FFF;
}
.album-square .overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.album-square:hover .overlay{
    opacity: 1;
}